li {
  margin: 1rem;
}
html,
html * {
  // background-color: black !important;
}
#main-menu-btn {
  position: relative;
  display: inline-block;
  width: 28px;
  height: 28px;
  text-indent: 28px;
  white-space: nowrap;
  overflow: hidden;
  cursor: pointer;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

#toggle {
  padding: 10px;
  cursor: pointer;
  border-radius: 5px;
}

#main-nav #toggle + ul#main-menu {
}
#toggle {
  display: block; // show toggle button in mobile
}

#main-menu {
  display: none; // hide menu in mobile
  &.dblock {
    display: block;
  }
}
@media (min-width: 768px) {
  /* hide the button in desktop view */
  #toggle {
    display: none; // hide toggle desktop
  }
  #main-menu {
    display: block !important; //show desktop menu
  }
}

a:focus {
  background-color: green !important;
  color: white !important;
}

#main-nav {
  #toggle {
  }
  #main-menu {
  }
}

html {
}
